@font-face {
    font-family:outfit;                                /* adding font family*/
    src: url(./fonts/Outfit-Regular.ttf);
}
* {
    box-sizing: border-box;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid  hsl(215, 32%, 27%);
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    header{
      height:10vh;
    }
    footer{
      height:10vh;
    }
  
    h3{
      font-size:2em ;
    }
    h4{
      font-size:1.4em ;
    }
    h5{
      font-size:1.3em ;
    }
  p{
    font-size: 1.55em;
  }
  .card {
    margin-left:29%;
  }


  }
    

  
  img{
    max-width: 100%;
    height: auto;
  }
  body{
    background-color: hsl(217, 54%, 11%);
  }
  .card{
    background-color: hsl(216, 50%, 16%);
    position: relative;
   
  }


  h3,h4,h5,p{
    font-family:outfit;
    color: white;
    font-weight: 300;
  }
  h3:hover{
    color:  hsl(178, 100%, 50%);
  }

 .time:hover{
  color:  hsl(178, 100%, 50%);
 }
 .name:hover{
    color:  hsl(178, 100%, 50%);
  }
  p{
    opacity:1;
    color: hsl(215, 51%, 70%);
  }
  h4{
    color: hsl(178, 100%, 50%);
  }
  .time{
    position: absolute;
    right: 0%;
    color: hsl(215, 51%, 70%);
    
  }
  hr{
      border: solid  hsl(215, 32%, 27%);
  }

  .author{
    float: left;
  }

  h5{
    position: absolute;
    margin-left: 20%;
   color:  hsl(215, 51%, 70%);
  }
  .name{
    opacity: 1;
  }
  .container{
    position: relative;
  }
.overlay{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;

}
.eye{
  position: absolute;
  top:45%;
  left:45%;
  opacity:0;
  
  
}
.container:hover .overlay{
  background-color: hsl(178, 100%, 50%);
  opacity:.5;
 
}
.container:hover .eye{
  opacity: 1;
 
}

